{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block content %}
  {{ super() }}
  
  <div class="row g-0 align-items-top">
    <div class="col-md-2">
    </div>
    
    <div class="col-md-4">
      <div class="card-body ">
        <form method="post">
          <!-- Username input -->
          <div class="form-outline mt-2">
            <input type="text" id="username" placeholder="Enter Your Name" name="username" class="form-control"
              required />
          </div>

          <!-- Email input -->
          <div class="form-outline mt-2">
            <input type="email" id="email" placeholder="Enter Email" name="email" class="form-control" required />
          </div>

          <!-- Mobile input -->
          <div class="form-outline mt-2">
            <input type="text" id="mobile" placeholder="Enter 10-digit mobile number" name="mobile" class="form-control"
              required />
          </div>

          <!-- City input -->
          <div class="form-outline mt-2">
            <input type="city" id="city" placeholder="Enter Your City Name" name="city" class="form-control" required />
          </div>

          <!-- Infect input -->
          <div class="form-outline mt-2">
            <select name="infect" id="infect" name="infect" class="form-control">
              <option value="uninfected" selected>Uninfected</option>
              <option value="infected">Infected</option>
            </select>
            <label class="form-label" for="infect">Select COVID infection status</label>
          </div>

          <!-- Blood input -->
          <div class="form-outline mt-2">
            <select name="blood" id="blood" name="blood" class="form-control">
              <option value="A Positive" selected>A Positive</option>
              <option value="B Positive">B Positive</option>
              <option value="AB Positive">AB Positive</option>
              <option value="O Negative">O Negative</option>
              <option value="A Negative">A Negative</option>
              <option value="B Negative">B Negative</option>
              <option value="AB Negative">AB Negative</option>
              <option value="O Positive">O Positive</option>
            </select>
            <label class="form-label" for="blood">Choose your blood group</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mt-2">
            <input type="password" id="passw" placeholder="Enter Password" name="passw" class="form-control" required />
          </div>
          <div class="form-outline mt-2">
            <!-- Submit button -->
            <button id="register" class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-4 mt-4">
        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show " role="alert">
          <span>{{ messages.message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        {% endif %}
    </div>
  </div>

  {% endblock %}
</body>
{% block js%}
{{ super() }}
<script>
  $(document).ready(function () {
    $('#register').on('click', function (event) {

      var postData = {
        'username': $('#username').val(),
        'email': $('#email').val(),
        'mobile': $('#mobile').val(),
        'city': $('#city').val(),
        'infect': $('#infect').val(),
        'blood': $('#blood').val(),
        'passw': $('#passw').val(),
      };
      $.ajax({
        beforeSend: function (xhrObj) {
          xhrObj.setRequestHeader("Content-Type", "application/json");
          xhrObj.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "/register",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
      })
        .done(function (data) {
        });
      event.preventDefault();
    });
  });
</script>
{% endblock %}